<div style="margin:20px; border:solid; border-color:rgb(37, 1, 1);">
<h1 style="padding:10px; background-color:rgb(37, 1, 1); color:rgb(219, 221, 219)">Your Dashboard</h1>
<ul style="margin:20px; padding:0">

{{#if posts.length}}
    {{#each posts}}
        <li style="border-radius:10px; border:solid; border-color:rgb(116, 116, 116); margin:10px; list-style-type:none;">
            <div style="background-color:rgb(116, 116, 116); color:rgb(219, 221, 219); padding:10px">
            <a href="/dashboard/edit/{{posts.id}}"><button class="btn btn-light" type="submit">Edit</button></a>
            <a href="api/post/{{id}}" style="color: rgb(219, 221, 219); font-weight:bold; font-size:x-large"> {{title}}</a>
                <span class="d-flex justify-content-end"style="font-size:smaller">
                    {{format_date created_at}}
                </span>
            </div>
        </li>
    {{/each}}
    {{else}}
        <h5 style="color:rgb(37, 1, 1);">You do not have any posts.</h5>
    
    {{/if}}
</ul>
</div>

<div class="d-flex justify-content-center">
    <a href="/dashboard/create/"><button class="btn btn-dark" type="submit" style="margin-bottom: 20px;">+ New Post</button></a>
</div>