    <div class="row" style="margin:20px; border:solid; border-color: border-color:rgb(37, 1, 1);">
    <div class="col-12" style="padding:0">
        <h2 style="background-color: rgb(37, 1, 1); color:rgb(190, 212, 190); padding:20px;">Edit Your Post</h2>
        <form class="form login-form" style="padding:10px; padding-top:0">
            <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="title" value="{{posts.title}}"/>
        </div>
        <form class="form" style="padding:10px; padding-top:0">
            <div class="form-group">
            <label for="content">Post Content:</label>
            <input class="textarea" type="text" id="title" value="{{posts.content}}"/>
        </div>
        <p style="color:rgb(37, 1, 1)">Created by you on {{format_date post.createdAt}}</p>
        <div class="form-group">
            <a href="/dashboard/edit/{{posts.id}}"><button class="btn btn-dark" type="submit" style="width:100%">Edit Post</button></a>
        </div>
        </form>
    </div>
         <a href="/dashboard/delete/{{posts.id}}"><button class="btn btn-primary" type="submit" style="width:100%">Delete Post</button></a>
    </div>