<h1>homepage</h1>
<ul>
    {{#each posts}}
        <li>
            <a href="api/post/{{id}}">{{title}}</a> By: <a href="api/user/{{id}}">{{user.username}}</a> at {{format_date created_at}}
            <h2 style="font-size: 12px">Updated: {{format_date updated_at}}</h2>
            <p>{{body}}</p>
        </li>
    {{/each}}
</ul>